* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#root {
    height: 100vh;
}

.weatherDiv {
    height: 100%;
    background-color: rgb(104, 160, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.appBox {
    height: 90%;
    background: linear-gradient(to bottom, #14D7B0, #4A7994 80%, #575D8C 95%);
    border-radius: 15px;
}

.divSearchFlex {
    display: flex;
    justify-content: center;
}

.appTitle {
    text-align: center;
}

.divSearchAndTitle {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100px;
    padding-top: 10px;
    border-radius: 6px;
}

.divInputButton {
    padding-left: 30px;
    padding-right: 30px;
}

.divSearchAndTitle .divInputButton .inputSearchWeather {
    margin-top: 10px;
    width: 70%;
    border: none;
    height: 30px;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    height: 35px;
}

.divBoxFlex {
    display: flex;
    justify-content: center;
}

.boxWeather {
    width: 500px;
    height: 100px;
}

.buttonSubmitWeather {
    width: 80px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    /* Arreglar la imagen, porque la config Webpack no me deja mostrar la imagen */
    /* background-image: url('./images/lupa.png'); */
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px 0 10px;
    height: 30px;
}